body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup-error {
  color: red;
}

.login-error {
  color: red;
}

.lyrics-container {
  display: flex;
  justify-content: left;
  align-items: left;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  align-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.button-lyric-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  height: 292px;
  width: 292px;
  margin: 20px;
  background-color: white;
}

.lyric-box-title {
  font-size: 18px;
}

.lyric-box-artist {
  font-size: 12px;
}
